.hello.c.swp
a.out
ar1
atable
bitwiseop
bitwiseop2
charin
data1
facrec
greatest4
hellohr1
hr2
memalloc
pattern
pointer
seconds
sqroot
tempconv
test
a.out
1PE16EC145.cpp
cd
class1
classhw
diamond
fi
helloworld
opov
passb
passby
pattern
sizeof
test
vf
bytestuffing.c
list.cpp
*.tcl~
*.c~
*.cpp~
*.md~
*.py~
